---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm';
---

<Layout title="Contact Us - Photo Convert Into 50KB Online">
  <h1 class="text-left">Contact us</h1>
  <ContactForm/>
</Layout>
