---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Privacy Policy - Photo Convert Into 50KB Online">
	<article>
    <h1>Privacy Policy</h1>
    <p>Last Updated:  Mon Sept 25 2023 </p>
    <p>At PhotoConvertInto50KB.com, we value your privacy and are committed to protecting your personal information. This Privacy Policy outlines the types of information we collect, how we use it, and the measures we take to keep your data secure. By using our website, you consent to the practices described in this policy.</p>
    
    <h2>1. Information We Collect</h2>
    <p>1.1 <strong>User-Provided Information</strong>: When you visit PhotoConvertInto50KB.com, you may choose to provide us with certain personal information, such as your name and email address, for account creation, feedback submission, or customer support purposes.</p>
    <p>1.2 <strong>Automatically Collected Information</strong>: We may automatically collect certain information when you use our website, including your IP address, browser type, and device information. This data is used for analytics and to improve the user experience.</p>
    
    <h2>2. How We Use Your Information</h2>
    <p>2.1 <strong>Personalization</strong>: We may use your information to personalize your experience on PhotoConvertInto50KB.com, including providing you with content and services tailored to your preferences.</p>
    <p>2.2 <strong>Communication</strong>: We may use your email address to respond to your inquiries, provide customer support, and send you important updates about our service. You can opt out of promotional emails.</p>
    <p>2.3 <strong>Analytics</strong>: We use collected data to analyze user behavior and improve our website's functionality and performance.</p>
    
    <h2>3. Sharing Your Information</h2>
    <p>We do not sell or rent your personal information to third parties. However, we may share your information with trusted service providers who assist us in delivering our services and maintaining our website. These providers are contractually obligated to keep your information confidential and secure.</p>
    
    <h2>4. Data Security</h2>
    <p>We employ reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction. However, please be aware that no method of data transmission over the internet or electronic storage is entirely secure.</p>
    
    <h2>5. Cookies and Tracking</h2>
    <p>PhotoConvertInto50KB.com uses cookies and similar tracking technologies to enhance your experience on our website. You can manage cookie preferences through your browser settings.</p>
    
    <h2>6. Links to External Websites</h2>
    <p>Our website may contain links to external sites. We are not responsible for the content or privacy practices of these third-party websites. We encourage you to review their privacy policies when visiting such sites.</p>
    
    <h2>7. Children's Privacy</h2>
    <p>Our services are not intended for individuals under the age of 13. We do not knowingly collect personal information from children under 13. If you believe we have inadvertently collected information from a child, please contact us, and we will take steps to remove the data.</p>
    
    <h2>8. Changes to this Privacy Policy</h2>
    <p>PhotoConvertInto50KB.com may update this Privacy Policy from time to time. We will notify you of any substantial changes by posting a prominent notice on our website or sending you an email.</p>
    
    <h2>9. Contact Us</h2>
    <p>If you have any questions or concerns about our Privacy Policy or the handling of your personal information, please contact us at [contact email address].</p>
    
    <p>Thank you for choosing PhotoConvertInto50KB.com. We are dedicated to ensuring your privacy and providing you with top-quality image optimization services. Your trust is essential to us, and we take the responsibility of protecting your data seriously.</p>
    
  </article>
</Layout>
